body {
	font-family: 'Lato';
	background-color: #eee;
}

.fa-btn {
	margin-right: 6px;
}

.card.hovercard {
	overflow: hidden;
	text-align: center;
}

.bottom {
	float: right;
	margin: 11.5px 0px 11.5px 0px;
}

.card.hovercard .avatar {
	position: relative;
	top: -50px;
	margin-bottom: -50px;
}

.card.hovercard .avatar img {
	width: 100px;
	height: 100px;
	max-width: 100px;
	max-height: 100px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
	padding: 4px 8px 10px;
}

.card.hovercard .info .title {
	margin-bottom: 4px;
	font-size: 24px;
	line-height: 1;
	color: #262626;
	vertical-align: middle;
}

.card.hovercard .info .desc {
	overflow: hidden;
	font-size: 12px;
	line-height: 20px;
	color: #737373;
	text-overflow: ellipsis;
}

.glyphicon {
	margin-right:10px;
}

.panel-body table tr td {
	padding-left: 15px
}

.panel-body .table {
	margin-bottom: 0px;
}

.avatar-section {
	background: #3ca2e0;
	text-align: center;
	color: #fff;
	padding: 3em;
	border-radius: 5px;
}

.user-avatar {
	width: 125px;
	height: 125px;
	border-radius: 100%;
	overflow: hidden;
}
